body {
  text-align: center;
  background-color: #F7FAF8;
}

:root {
  --btn-width: 222px;
  --btn-height: 122px;
}

div {
  align-content: center;
  text-align: center;
}

.container {
  display: inline-block;
  padding: 40px;
}

.invite {
  display: block;
  width: auto;
  height: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  height: var(--btn-height);
  width: var(--btn-width);
  margin: 10px;
  border-radius: 15px;
  border: 3px solid #FFFF99;
  box-shadow: 0 9px #999;
}

.btn-ute { background-color: #3399FF; }

.btn-ute:hover { background-color: #075AAD; }

.btn-ute:active { 
  background-color: #075AAD; 
  box-shadow: 0 5px #666;
  transform: translateY(4px);
 }

.btn-bff { background-color: purple; }

.btn-bff:hover { background-color: #E376E3; }

.btn-bff:active { 
  background-color: #E376E3; 
  box-shadow: 0 5px #666;
  transform: translateY(4px);
 }

.caption {
  width: var(--btn-width);
  height: var(--btn-height);
}

p {
  font-family: "Open Sans";
  position: relative;
  top: 0px;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

.small-font {
  font-size: 1rem;
  font-weight: 400;
  color: #FFFF99;
}

.large-font {
  font-size: 2rem;
  font-weight: 600;
  color: #FFFFFF;
}

h1 {
  color: #0b598d;
  font-family: "Charm";
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  text-shadow: 4px 4px 4px #bbb;
  width: auto;
  height: auto;
  margin: 0;
}

a { 
  height: auto;
  width: var(--btn-width);
  text-decoration: none; 
}

.flag-de { width: 90px; }

.flag-pt { width: 80px; }

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

